{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/lessons.css' %}">
{% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Lesson Name</th>
            <th scope="col">Unit</th>
            <th scope="col">Type Of Lesson</th>
            <th scope="col">Date Of Lesson</th>
        </tr>
    </thead>


    <tbody class="table-body">
        {% for lesson in lessons %}
        <a href="/lesson/{{lesson.id}}">
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <h2><a href="{{lesson.lesson_url}}">{{lesson.lesson_name}}</a></h2>
                </td>
                <td>{{lesson.unit}}</td>
                <td>{{lesson.type_of_lesson}}</td>
                <td>{{lesson.date}}</td>
            </tr>
        </a>
        {% endfor %}
    </tbody>
</table>



{% endblock %}